.auth-page{
    width:100%;
    min-height:100vh;
    background-image:url("../imagenes/Fondo.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;

    position:relative;
}

.auth-button{
    margin-top:25px;
    display:flex;
    justify-content:center;
}