.input-label{
    display:block;
    margin-bottom:6px;
    font-weight:600;
}

.input-field{
    width:100%;
    padding:11px;
    border:1px solid #bbb;
    border-radius:6px;
    margin-bottom:18px;
    font-size:15px;
    box-sizing:border-box;
}

.input-field:focus{
    outline:none;
    border-color:#5A4FCF;
}